* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url('/img/bg.png');
  background-size: cover; /* This property ensures the image covers the entire body */
  background-position: center; 
}

/*NAVBAR*/
.navbar {
  background-color: red;
  overflow: hidden;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar a {
  margin: 5px;
  float: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  transition: 0.2s;
}

.navbar #active {
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
}

/*COLLECTION*/
.collection-container {
  min-height: 100vh;
  border-collapse: collapse;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-container table {
  border-collapse: collapse;
  background-color: white;
  border: 2px solid #dddddd;
}

/*FOOTER*/
footer {
  height: 20vh;
  background-color: red;
  color: white;
  bottom: 0;
  text-align: center;
}
