* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #d3d3d3;
}

/*NAVBAR*/
.navbar {
  background-color: grey;
  overflow: hidden;
  text-align: center;
}

.navbar a {
  margin: 5px;
  float: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  transition: 0.2s;
}

.navbar #active {
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
}
