* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #d3d3d3;
}

/*NAVBAR*/
.navbar {
  background-color: grey;
  overflow: hidden;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar a {
  margin: 5px;
  float: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  transition: 0.2s;
}

.navbar #active {
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
}

/*CARDS*/
.cards-container {
  margin: 1%;
  text-align: center;
}

@media (max-width: 768px) {
  .card-box {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .card-box {
    width: 100%;
  }
}

.card-box {
  display: inline-block;
  padding: 2%;
  width: 25%;
  max-width: 400px;
  height: 480px;
  box-sizing: border-box;
}

.card {
  border-radius: 15px;
  text-align: left;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
  transition: 0.2s;
}

.card-image,
.card-name,
h2 {
  text-align: center;
}

.card hr {
  border: solid 1px black;
}

.card-type {
  padding: 7%;
  border-radius: 15px;
}

.card-image {
  border-radius: 7.5px;
  border: solid 1px black;
}

.card img {
  width: 75%;
}

.card .card-name .sbs {
  display: inline-block;
}

.card #card-number {
  color: grey;
}

.card .card-stats th {
  text-align: right;
}
